.skills{
    display: flex;
    flex-direction: column;
    margin-left: 250px; /* Adjust according to navbar height */
    margin-right: 0px;
    padding: 20px;
}

.skills-list{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 5px;
    margin: 10px;

}

.skills-list-style{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 0 1 calc(25% - 10px); /* 25% width for each item, minus margin */
  margin: 5px; /* Adjust margin as needed */

}

.progress-wrapper {
    position: relative;
    width: 100%;
    height: 40px; /* Adjust height as needed */
  }
  
  .progress-wrapper progress {
    width: 100%;
    height: 100%;
  }
  
  .progress-wrapper span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: black;
    font-size: 16px; /* Adjust font size as needed */
  }

.icon-style{
    font-size: 36px;
    border-style: solid;
    border-radius: 50%;
}