.Main{
  display: flex;
  width: 100%;
}

.navbar{
  display: flex;
  flex-direction: column;
}

.HomePage{
  display: flex;
  flex-direction: column;
  
}

h1{
  color: gray;
}
@media screen and (max-width: 768px) {
  /* Adjust styles for screens with a maximum width of 768 pixels */
  .flex {
    flex-direction: column;
  }
}
